@model Library_Final_Project.DTOs.User.SignUpViewModel

@{
    ViewBag.Title = "SignUp";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/adminstyle.css" />
</head>
<body>
    <div class="containerr">
        <div class="form-containerr">
            <div class="form-bodyr">
                <a asp-controller="Home" asp-action="index">
                    <img src="~/img/close.png" width="25" style="margin-left:520px;position:absolute; margin-top: -70px;" alt="Alternate Text" />
                </a>
                <div class="headerr">
                    <h2>Зарегистрироваться</h2>
                    <p>Есть аккаунт? <a asp-controller="Account" asp-action="SignIn">Войти!</a></p>
                </div>
                <div class="form-groupr">
                    <form action="SignUp" method="post">
                        <div class="input-groupr">
                            <i class="fa fa-user"></i>
                            <input type="text" autocomplete="none" asp-for="Login" placeholder="Логин">
                            <span class="text-danger" asp-validation-for="Login"></span>
                        </div>
                        <div class="input-groupr">
                            <i class="fa fa-envelope"></i>
                            <input type="text" autocomplete="none" asp-for="Email" placeholder="кто-то@examle.com">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="input-groupr">
                            <i class="fa fa-lock"></i>
                            <input type="password" asp-for="Password" placeholder="Придумайте пароль">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="input-groupsr flex">
                            <div class="forgotr">
                                <a href="#">забыл пароль?</a>
                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                        <div class="input-groupsr rightr">
                            <button>Зарегистрироваться</button>
                        </div>
                    </form>
                </div>
                <div class="social-mediar">
                    <a href="#" class="social-iconr">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="social-iconr">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="social-iconr">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#" class="social-iconr">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
            <div class="form-imager">
                <div class="textr">
                    <h2>Добро пожаловать.</h2>
                    <p>
                        Родился — регистрация, женился — регистрация, умер — опять регистрация.
                        Не для того родится человек на свет Божий, чтобы зарегистрироваться.!
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
