@model Library_Final_Project.DTOs.Category.CreateCategoryViewModel
@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col-md-6">
        <div asp-validation-summary="All"></div>
        <form action="Create" method="post" enctype="multipart/form-data">
            <div class="row mt-4">
                <div class="col-md-8 offset-1 mb-4">
                    <label asp-for="Name" class="form-label bg-outline-success">Название Категорие</label>
                    <input class="form-control" type="text" asp-for="Name" placeholder="Название">
                </div>
                <div class="col-md-6 offset-1 mb-4">
                    <label asp-for="Categories" class="form-label bg-outline-success"> Категории</label>
                    <select class="form-control" asp-for="ParentCategoryId">
                        @foreach (var item in Model.Categories)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                </div>
                <div class="col-md-6 offset-1 mb-5">
                    <label asp-for="File" class="form-label bg-outline-success">Иконка  </label>
                    <input type="file" asp-for="File">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 offset-1">
                    <a asp-controller="Category" asp-action="getcategories" class="btn btn-block btn-danger">Отмена</a>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary btn-block" value="Создать">
                </div>
            </div>
        </form>
    </div>
</div>