@model Library_Final_Project.DTOs.Book.DeleteBookViewModel
@{ 
    ViewData["Title"] = "Delete";
}

<form action="Delete" method="post">
    <input type="text" asp-for="Id" placeholder="id" />
    <input type="submit" name="name" value="" />
</form>