@model List<Library_Final_Project.DTOs.AuthorViewModel>
@{ 
    Layout = "_AdminLayout";
}
<div class="card">
    <div class="card-body">
        <table class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
            <tr>
                <td>@author.Id</td>
                <td>@author.Name</td>
                </tr>
            }
                </tbody>
            </table>
    </div>
</div>