@{
    ViewData["Title"] = "AdminPanel";
    Layout = "_AdminLayout";
}
<div>
    <img src="~/img/AddFile.svg" alt="adminPanel" width="600" style="padding-top: 150px; opacity: 0.6; padding-left: 350px; position: absolute" />
</div>
