@model List<Library_Final_Project.DTOs.Category.CategoryViewModel>

@{
    ViewData["Title"] = "Home Page";
}
<div class="main-section">
    <div class="hero-text">
        <h1 style="text-align:left">Онлайн<br /> магазин книг</h1>
        <p>На данном веб-сайте вы можете приобрести книги. Так же можно воспользоватся достакой по городу Душанбе.</p>
        <a class="btn btn-lg btn-primary">Заказать</a>
    </div>
</div>
<img src="~/img/24092020-1115x250.jpg" width="1400" alt="Alternate Text" />